body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('Image/OIP.jpeg');
}
.app-header{
    display: flex;
    justify-content: center;
    /* background-color: black; */
    color:blueviolet;
    /* color: black; */
    background-color: rgb(27, 25, 78);
}
.app-main{
    padding: 2em;
    color: antiquewhite;
    display: flex;
    gap: 1em;
    overflow-x: auto;

}
.app-main .column{
    background-color: rgb(127, 81, 171);
    min-width: 18em;
    min-height: 6em;
    border-radius: 10px;
    padding: 1em;
}
.app-main .column-dropable {
    background-color: rgb(253, 253, 182);
}
.app-main .column .col-heading{
    font-size: 1.5em;
    gap: 1em;
}
.app-main .column .ticket{
    background-color: rgb(209, 138, 204);
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 6px;
    color: black;
}
footer {
    background-color: rgb(27, 25, 78);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 0.125rem;
    text-align: center;
    font-size: small;
    font-weight: 300;
    color:blueviolet;
    
  }
  
  footer a {
    position: relative;
    z-index: 10;
    padding-left: 0.25rem; /* Equivalent to px-1 */
    padding-right: 0.25rem;
    padding-top: 0.25rem; /* Equivalent to pt-1 */
    text-decoration: none;
    font-size: medium;
    /* color: beige; */
  }
  
  footer a:hover {
    color: beige;
  }
  
  footer a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    /* color: beige; */
    transition: width 0.3s ease;
  }